<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/customers/create">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text">
        <label for="email">Email</label>
        <input name="email" type="email">
        <label for="phone">Phone</label>
        <input name="phone" type="tel">
        <label for="addressLine1">Address Line 1</label>
        <input type="text" name="addressLine1">
        <label for="addressLine2">Address Line 2</label>
        <input type="text" name="addressLine2" id="">
        <label for="city">City</label>
        <input type="text" name="city" id="">
        <label for="state">State</label>
        <input type="text" name="state" id="">
        <label for="zipCode">Zip Code</label>
        <input type="number" name="zipCode" id="">
        <input value="submit" type="submit">
    </form>
</body>
</html>