<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/customers/">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text">
        <label for="email">Email</label>
        <input name="email" type="email">
        <label for="phone">Phone</label>
        <input name="phone" type="tel">
        <input value="submit" type="submit">
    </form>
</body>
</html>